#bottom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6c7182;
  border-bottom-left-radius: 0.7vh;
  border-bottom-right-radius: 0.7vh;
}

#bottom-bar-inner {
  width: 50vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

#health-energy-container {
  display: flex;
  align-items: center;
}

#health-background {
  background-color: white;
  position: relative;
  width: 14vw;
  height: 4vh;
  border-style: solid;
  border-width: 0.6vh;
  border-radius: 1.5vh;
  margin-bottom: 5vh;
  margin-left: 2vw;
}

#health {
  background-color: lime;
  width: 14vw;
  height: 4vh;
  border-radius: 1vh;
}

#energy-background {
  background-color: white;
  position: relative;
  width: 14vw;
  height: 4vh;
  border-style: solid;
  border-width: 0.6vh;
  border-radius: 1.5vh;
  margin-bottom: 5vh;
  margin-left: 1vw;
}

#energy {
  background-color: blue;
  width: 14vw;
  height: 4vh;
  border-radius: 1vh;
}

#floor-count-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 5.5vh;
  margin-right: 2.5vw;
  font-family: "8-bit";
  font-size: 3vh;
}

#links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "8-bit";
  font-size: 3vh;
  position: absolute;
  left: 44vw;
  bottom: 4.5vh;
}

#links h3 {
    margin-right: 0.6vw;
}

#links img {
    width: 4vh;
    height: 4vh;
}

.github-link:hover {
    opacity: 0.5;
}