#canvas-container {
    display: flex;
    justify-content: center;
}

#paused-banner {
    position: absolute;
    top: 270px;
    display: none;
    filter: invert(1);
}

#paused-banner.on {
    display: block;
}

#game-over-banner {
    position: absolute;
    top: 270px;
    font-family: "skirmisher-2";
    font-size: 100px;
    display: none;
    color: white;
}

#game-over-banner.on {
    display: block;
}

#enemies-killed-banner {
    position: absolute;
    top: 375px;
    font-family: "skirmisher-2";
    font-size: 30px;
    display: none;
    color: white;
}

#enemies-killed-banner.on {
    display: block;
}

#controls-container {
    position: absolute;
    margin-top: 2px;
    margin-left: 543px;
    background-color: #37446e;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    display: none;
}

#controls-container.show {
    display: block;
}

#controls-container ul {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

#controls-container ul li {
    font-family: "8-bit";
}

canvas {
  cursor: none;
  background-color: gray;
}