#canvas-container {
    display: flex;
    justify-content: center;
}

#paused-banner {
    position: absolute;
    top: 40vh;
    display: none;
    filter: invert(1);
}

#paused-banner.on {
    display: block;
}

#game-over-container {
    display: none;
    position: absolute;
    top: 30vh;
    width: 600px;
    height: 210px;
    background-color: #37446e;

    border-style: solid;
    border-color: black;
    border-width: 6px;
    border-radius: 10px;

    font-family: "skirmisher-2";
    color: #ed4245;
}

#game-over-container.on {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-over-banner {
    font-size: 90px;
}

#enemies-killed-banner {
    font-size: 30px;
}

#retry-button {
    background-color: #ed4245;
    width: 125px;
    height: 60px;
    margin-top: 15px;

    border: none;

    font-family: "8-bit";
    font-size: 30px;
}

#retry-button:hover {
    background-color: green;
    cursor: pointer;
}

canvas {
  cursor: none;
  background-color: gray;
}